<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whut.binary.health.provider.mapper.OrderSettingMapper">
    <!-- int saveOrUpdateOrderSetting(OrderSetting orderSetting); TODO 给 t_order_setting 表的 orderDate 字段添加唯一约束 -->
    <insert id="saveOrUpdateOrderSetting" parameterType="orderSetting">
        insert into t_ordersetting(orderDate, number, reservations) VALUES (#{orderDate},#{number},#{reservations})
        ON DUPLICATE KEY UPDATE
        <if test="number != null">
            number = #{number},
        </if>
        <if test="reservations != null">
            reservations = #{reservations}
        </if>
    </insert>
</mapper>