<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/asset-favico.ico">
    <title>预约详情</title>
    <link rel="stylesheet" href="../css/page-health-orderDetail.css"/>
</head>
<body data-spy="scroll" data-target="#myNavbar" data-offset="150">
<div id="app" class="app">
    <!-- 页面头部 -->
    <div class="top-header">
        <span class="f-left"><i class="icon-back" onclick="history.go(-1)"></i></span>
        <span class="center">美年健康</span>
        <span class="f-right"><i class="icon-more"></i></span>
    </div>
    <!-- 页面内容 -->
    <div class="contentBox">
        <div class="card">
            <div class="project-img">
                <img :src="imgUrl" width="100%" height="100%"/>
            </div>
            <div class="project-text">
                <h4 class="tit">{{setmeal.name}}</h4>
                <p class="subtit">{{setmeal.remark}}</p>
                <p class="keywords">
                    <span>{{setmeal.sex == '0' ? '性别不限' : setmeal.sex == '1' ? '男':'女'}}</span>
                    <span>{{setmeal.age}}</span>
                </p>
            </div>
            <!--<div class="project-know">
                <a href="orderNotice.html" class="link-page">
                    <i class="icon-ask-circle"><span class="path1"></span><span class="path2"></span></i>
                    <span class="word">预约须知</span>
                    <span class="arrow"><i class="icon-rit-arrow"></i></span>
                </a>
            </div>-->
        </div>
        <div class="table-listbox">
            <div class="box-title">
                <i class="icon-zhen"><span class="path1"></span><span class="path2"></span></i>
                <span>套餐详情</span>
            </div>
            <div class="box-table">
                <div class="table-title">
                    <div class="tit-item flex2">项目名称</div>
                    <div class="tit-item  flex3">项目内容</div>
                    <div class="tit-item  flex3">项目解读</div>
                </div>
                <div class="table-content">
                    <ul class="table-list">
                        <li class="table-item" v-for="checkgroup in setmeal.checkGroups">
                            <div class="item flex2">{{checkgroup.name}}</div>
                            <div class="item flex3">
                                <label v-for="checkitem in checkgroup.checkItems">
                                    {{checkitem.name}}
                                </label>
                            </div>
                            <div class="item flex3">{{checkgroup.remark}}</div>
                        </li>
                    </ul>
                </div>
                <div class="box-button">
                    <a @click="toOrderInfo()" class="order-btn">立即预约</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 引入组件库 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.5.1/index.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script>
    axios.defaults.baseURL = '/chinasofti-health-mobile';

    var vue = new Vue({
        el: '#app',
        data: {
            imgUrl: null,// 套餐对应的图片链接
            setmeal: {},
            setMealId: -1,
            // 与服务器约定的响应码
            SUCCESS: 0,
            INFO: 1,
            WARNING: 2,
            ERROR: 3
        },
        methods: {
            toOrderInfo() {
                window.location.href = "orderInfo.html?setMealId=" + this.setMealId;
            },
            // 通知提示框
            showNotice(code, msg) {
                if (this.SUCCESS == code) {
                    this.$notify.success({
                        title: '成功',
                        message: msg,
                    });
                } else if (this.INFO == code) {
                    this.$notify.info({
                        title: '提示',
                        message: msg,
                    });
                } else if (this.WARNING == code) {
                    this.$notify.warning({
                        title: '警告',
                        message: msg,
                    });
                } else if (this.ERROR == code) {
                    this.$notify.error({
                        title: '失败',
                        message: msg,
                    });
                }
            },

            // 获取地址栏的请求参数
            getUrlParam(paraName) {
                var url = document.location.toString();
                var arrObj = url.split("?");
                if (arrObj.length > 1) {
                    var arrPara = arrObj[1].split("&");
                    var arr;
                    for (var i = 0; i < arrPara.length; i++) {
                        arr = arrPara[i].split("=");
                        if (arr != null && arr[0] == paraName) {
                            return arr[1];
                        }
                    }
                    return "";
                }
                return "";
            }
        },
        mounted() {
            var id = this.getUrlParam("id");
            this.setMealId = id;
            axios.get("/setMeal/" + id + ".do").then((response) => {
                if (this.SUCCESS == response.data.code) {
                    this.setmeal = response.data.resultMap.item;
                    this.imgUrl = this.setmeal.img;
                } else {
                    this.showNotice(response.data.code, response.data.msg);
                }
            });
        }
    });
</script>
</body>