<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Component scan -->
    <context:component-scan
            base-package="cn.edu.whut.binary.health.provider.mapper, cn.edu.whut.binary.health.provider.service.impl"/>

    <!-- Datasource-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!-- SQL session factory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!-- Mapper interface -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.edu.whut.binary.health.provider.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

<!--    &lt;!&ndash; Jedis connection pool &ndash;&gt;-->
<!--    <context:property-placeholder location="classpath:redis.properties"/>-->
<!--    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
<!--        <property name="maxTotal" value="${redis.pool.maxTotal}"/>-->
<!--        <property name="maxIdle" value="${redis.pool.maxIdle}"/>-->
<!--        <property name="minIdle" value="${redis.pool.minIdle}"/>-->
<!--        <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/>-->
<!--    </bean>-->
<!--    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">-->
<!--        <constructor-arg name="poolConfig" ref="poolConfig"/>-->
<!--        <constructor-arg name="host" value="${redis.host}"/>-->
<!--        <constructor-arg name="port" value="${redis.port}" type="int"/>-->
<!--        <constructor-arg name="timeout" value="${redis.timeout}" type="int"/>-->
<!--    </bean>-->

    <!-- Dubbo -->
    <import resource="classpath:dubbo-provider.xml"/>
</beans>