<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 自动驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!-- 类别名 -->
        <package name="cn.edu.whut.binary.health.common.pojo"/>
    </typeAliases>
    <!-- TODO  -->
<!--    <plugins>-->
<!--        &lt;!&ndash; 分页插件 &ndash;&gt;-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>-->
<!--    </plugins>-->
</configuration>