<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 页面 meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>美年健康</title>
    <meta name="description" content="美年健康">
    <meta name="keywords" content="美年健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <style>
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }

        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>

<body class="hold-transition">
<div id="app">
    <!-- title -->
    <div class="content-header">
        <h1>预约管理<small>套餐管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>套餐管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <!-- 搜索框 -->
            <div class="filter-container">
                <el-button icon="el-icon-refresh" circle @click="findAll()"></el-button>
                <el-input placeholder="编码/名称/助记码" v-model="pagination.condition" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <!-- 表格数据 -->
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="code" label="套餐编码" align="center"></el-table-column>
                <el-table-column prop="name" label="套餐名称" align="center"></el-table-column>
                <el-table-column prop="img" label="套餐图片" align="center">
                    <template   slot-scope="scope">
                        <img :src="scope.row.img"  min-width="70" height="70" style="border-radius: 50%"/>
                    </template>
                </el-table-column>
                <el-table-column label="适用性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="适用年龄" align="center"></el-table-column>
                <el-table-column prop="helpCode" label="助记码" align="center"></el-table-column>
                <el-table-column prop="remark" label="说明" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleEdit(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页条 -->
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增套餐" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="编码">
                                                <el-input v-model="formData.code"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="适用性别">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="助记码">
                                                <el-input v-model="formData.helpCode"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="套餐价格">
                                                <el-input v-model="formData.price"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="适用年龄">
                                                <el-input v-model="formData.age"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="上传图片">
                                                <el-upload
                                                        class="avatar-uploader"
                                                        action="/transfer.do"
                                                        accept="image/jpeg,image/png"
                                                        :auto-upload="autoUpload"
                                                        name="file"
                                                        :show-file-list="false"
                                                        :on-success="handleAvatarSuccess"
                                                        :before-upload="beforeAvatarUpload">
                                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="说明">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="注意事项">
                                                <el-input v-model="formData.attention" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="检查组信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>项目编码</th>
                                            <th>项目名称</th>
                                            <th>项目说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="checkgroupIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.code}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑套餐" :visible.sync="dialogFormVisibleEdit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="编码">
                                                <el-input v-model="formData.code"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="适用性别">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="助记码">
                                                <el-input v-model="formData.helpCode"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="套餐价格">
                                                <el-input v-model="formData.price"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="适用年龄">
                                                <el-input v-model="formData.age"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="上传图片">
                                                <el-upload
                                                        class="avatar-uploader"
                                                        action="/transfer.do"
                                                        accept="image/jpeg,image/png"
                                                        :auto-upload="autoUpload"
                                                        name="file"
                                                        :show-file-list="false"
                                                        :on-success="handleAvatarSuccess"
                                                        :before-upload="beforeAvatarUpload">
                                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                </el-upload>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="说明">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="注意事项">
                                                <el-input v-model="formData.attention" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="检查组信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>项目编码</th>
                                            <th>项目名称</th>
                                            <th>项目说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="checkgroupIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.code}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleUpdate()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<!-- 引入组件库 -->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            // 自动上传
            autoUpload: true,
            // 模型数据，用于上传图片完成后图片预览
            imageUrl: null,
            activeName: 'first',
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 0,
                condition: null
            },
            dataList: [],
            formData: {},
            // 添加表单窗口中检查组列表数据
            tableData: [],
            // 添加表单窗口中检查组复选框对应 id
            checkgroupIds: [],
            dialogFormVisible: false,
            dialogFormVisibleEdit: false,
            // 与服务器约定的响应码
            SUCCESS: 0,
            INFO: 1,
            WARNING: 2,
            ERROR: 3
        },
        created() {
            this.findPage();
        },
        methods: {
            // 通知提示框
            showNotice(code, msg) {
                if (this.SUCCESS == code) {
                    this.$notify.success({
                        title: '成功',
                        message: msg,
                    });
                } else if (this.INFO == code) {
                    this.$notify.info({
                        title: '提示',
                        message: msg,
                    });
                } else if (this.WARNING == code) {
                    this.$notify.warning({
                        title: '警告',
                        message: msg,
                    });
                } else if (this.ERROR == code) {
                    this.$notify.error({
                        title: '失败',
                        message: msg,
                    });
                }
            },

            // 文件上传成功后的钩子，response 为服务端返回的值，file 为当前上传的文件封装成的 js 对象
            handleAvatarSuccess(response, file) {
                if (this.SUCCESS == response.code) {
                    this.imageUrl = response.resultMap.url;
                } else {
                    this.showNotice(response.code, response.msg);
                }
            },

            // 上传图片之前执行
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isPNG = file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 2;
                if (!(isJPG || isPNG)) {
                    this.$message.error('套餐图片只能是 JPG 或 PNG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('套餐图片文件大小不能超过 2MB!');
                }
                return (isJPG || isPNG) && isLt2M;
            },

            // 添加
            handleAdd() {
                // 请求保存新增的套餐信息和其对应的检查组关系
                this.formData.img = this.imageUrl;
                axios({
                    url: "/setMeal.do",
                    method: "post",
                    data: this.checkgroupIds,
                    params: this.formData,
                }).then(response => {
                    if (this.SUCCESS == response.data.code) {
                        this.dialogFormVisible = false;
                    }
                    this.showNotice(response.data.code, response.data.msg);
                }).finally(() => {
                    // 回显已添加的数据
                    this.pagination.currentPage = 1;
                    // 设置查询条件为刚添加的信息
                    this.pagination.condition = this.formData.code;
                    this.findPage();
                });
            },

            // 分页查询
            findPage() {
                axios({
                    method: "get",
                    url: "/setMeal.do",
                    params: {
                        currentPage: this.pagination.currentPage,
                        pageSize: this.pagination.pageSize,
                        condition: this.pagination.condition
                    }
                }).then(response => {
                    if (this.SUCCESS == response.data.code) {
                        // 为模型数据赋值，基于 Vue 的双向绑定展示到页面
                        this.dataList = response.data.resultMap.pageData.list;
                        this.pagination.total = response.data.resultMap.pageData.total;
                    } else {
                        this.showNotice(response.data.code, response.data.msg);
                    }
                })
            },

            // 重置表单
            resetForm() {
                this.formData = {};
                this.checkgroupIds = [];
                this.imageUrl = null;
            },

            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                // 查询所有检查组信息
                axios.get("/checkGroup/all.do").then(response => {
                    if (this.SUCCESS == response.data.code) {
                        this.tableData = response.data.resultMap.list;
                    } else {
                        this.showNotice(response.data.code, response.data.msg);
                    }
                })
                this.dialogFormVisible = true;
            },

            // 切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = 1;
                this.findPage();
            },

            // 所有数据
            findAll() {
                this.pagination.currentPage = 1;
                this.pagination.condition = "";
                this.findPage();
            },

            // 删除
            handleDelete(row) {
                this.$confirm('确定要删除编码为【' + row.code + '】的套餐吗？', '删除', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 根据 id 删除套餐
                    axios({
                        method: "post",
                        url: "/setMeal.do",
                        params: {
                            "_method": "delete",
                            "setMealId": row.id
                        },
                    }).then(response => {
                        this.showNotice(response.data.code, response.data.msg);
                    }).finally(() => {
                        if (this.dataList.length <= 1) {
                            this.pagination.currentPage = this.pagination.currentPage - 1;
                        }
                        this.findPage();
                    })
                }).catch(() => {
                });
            },

            // 打开编辑窗口
            handleEdit(row) {
                this.resetForm();
                this.formData = row;
                this.imageUrl = row.img;
                this.dialogFormVisibleEdit = true;
                // 查询所有检查组信息
                axios.get("/checkGroup/all.do").then(response => {
                    if (this.SUCCESS == response.data.code) {
                        this.tableData = response.data.resultMap.list;
                    } else {
                        this.showNotice(response.data.code, response.data.msg);
                    }
                })
                // 请求服务器查询当前套餐所对应的检查组信息
                axios({
                    method: "get",
                    url: "/setMeal/" + row.id + ".do"
                }).then(response => {
                    if (this.SUCCESS == response.data.code) {
                        this.checkgroupIds = response.data.resultMap.list;
                        // 改变 tableData 的顺序，优先显示选中的复选框
                        this.tableData.sort((a, b) => {
                            for (var i in this.checkgroupIds) {
                                if (a.id == this.checkgroupIds[i]) {
                                    return -1;
                                }
                                if (b.id == this.checkgroupIds[i]) {
                                    return true;
                                }
                            }
                            return true;
                        })
                    }
                })
            },

            // 更新套餐
            handleUpdate() {
                this.formData._method = "put";
                this.formData.img = this.imageUrl;
                axios({
                    method: "post",
                    url: "/setMeal.do",
                    data: this.checkgroupIds,
                    params: this.formData,
                }).then(response => {
                    if (this.SUCCESS == response.data.code) {
                        this.dialogFormVisibleEdit = false;
                    }
                    this.showNotice(response.data.code, response.data.msg);
                }).finally(() => {
                    this.findPage();
                })
            }
        }
    })
</script>
</html>
